# Pyspark and SQL

Useful ressources: 
* https://www.tutorialspoint.com/spark_sql/spark_sql_quick_guide.htm
* https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/

Create DataFrames

In [ ]:
# Get your Spark session

In [ ]:
# Create Example Data - Departments and Employees

# Create the Departments
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)

# Create the DepartmentWithEmployees instances from Departments and Employees
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

print(department1)
print(employee2)
print(departmentWithEmployees1.employees[0].email)

Create DataFrames from a list of the rows

In [ ]:
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2]
df1 = spark.createDataFrame(departmentsWithEmployeesSeq1)

df1.show()
        
departmentsWithEmployeesSeq2 = [departmentWithEmployees3, departmentWithEmployees4]
df2 = spark.createDataFrame(departmentsWithEmployeesSeq2)

df2.show()

# Work with DataFrames
## Union two DataFrames

In [ ]:
# TODO

Write the unioned DataFrame to a Parquet file

In [ ]:
# Remove the file if it exists
# TODO

Read a DataFrame from the Parquet file

In [ ]:
# TODO

## Explode the employees column

In [ ]:
# TODO

## Use filter() to return the rows that match a predicate

In [ ]:
# TODO Filter on firstname xiangrui

The where() clause is equivalent to filter()

In [ ]:
from pyspark.sql.functions import col, asc

# Use `|` instead of `or`
filterDF = explodeDF.filter((col("firstName") == "xiangrui") | (col("firstName") == "michael")).sort(asc("lastName"))
filterDF.show()

In [ ]:
whereDF = explodeDF.where((col("firstName") == "xiangrui") | (col("firstName") == "michael")).sort(asc("lastName"))
whereDF.show()

Replace null values with -- using DataFrame Na function

In [ ]:
# TODO

Retrieve only rows with missing firstName or lastName

In [ ]:
# TODO, bonus using UDF

Example aggregations using agg() and countDistinct()

In [ ]:
from pyspark.sql.functions import countDistinct

countDistinctDF = explodeDF.select("firstName", "lastName")\
  .groupBy("firstName", "lastName")\
  .agg(countDistinct("firstName"))

countDistinctDF.show()

## Compare the DataFrame and SQL query physical plans

In [ ]:
countDistinctDF.explain()
# register the DataFrame as a temp table so that we can query it using SQL
# TODO

# Perform the same query as the DataFrame above and return ``explain``
countDistinctDF_sql = spark.sql("# TODO")

countDistinctDF_sql.explain()

# Should be the same !

Sum up all the salaries

In [ ]:
# TODO

Print the summary statistics for the salaries

In [ ]:
# TODO

An example using pandas and Matplotlib integration